body {
  background-color: #151b20;
}

/*Header navigate*/

header {
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: #151b20;
  z-index: 1000;
}

.menu {
  display: flex;
  text-align: center;
  margin-left: 672px;
}

.menu_button {
  margin: 20px 10px 20px 10px;
  font-family: Monaco, sans-serif;
  font-size: 22px;
  color: rgb(195, 255, 85);
  text-decoration: none;
  transition: color .2s linear;
}

.menu_button:hover {
  color: white;
}

.menu_button:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity .2s linear;
}

.menu_button:hover:after {
  opacity: 1;
}

/*Main introduce*/

.about {
  position: relative;
  left: 15%;
  margin-bottom: 200px;
  width: 1200px;
}

.img_one {
  position: relative;
  top: 40px;
  left: 33%;
  border-radius: 50%;
  box-shadow: 3px 3px rgb(46, 248, 39), 5px 5px rgb(62, 255, 94), 7px 7px rgb(195, 255, 85);
}

.about_header {
  margin-top: 55px;
  text-align: center;
  font-family: Monaco, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: rgb(223, 247, 115);
}

.about_text {
  line-height: 7px;
  text-align: center; 
  font-family: Monaco, sans-serif;
  font-size: 22px;
  color: rgb(223, 247, 115);
}

/*Main skills*/

.skills {
  margin-left: 450px;
  margin-bottom: 200px;
  width: 900px;
  height: 365px;
  border-radius: 9px;
  background: linear-gradient(0deg, rgba(115,253,45,1) 0%, rgba(195,193,34,1) 100%);
}

.skillstable {
  table-layout: fixed;
  text-align: center;
}

.header {
  padding-top: 75px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Monaco, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(28, 109, 18);
}

.tables {
  font-family: Monaco, sans-serif;
  font-size: 26px;
  color: rgb(38, 134, 25);
}

.tables_first {
  padding: 0 15px 6px 190px;
}

/*Main languages*/

.languages {
  margin-left: 450px;
  width: 900px;
  height: 365px;
  border-radius: 9px;
  background: linear-gradient(0deg, rgba(115,253,45,1) 0%, rgba(195,193,34,1) 100%);
}

.langtable {
  text-align: center;
}

.tables_second {
  padding: 0 15px 8px 230px;
}

/*Main contacts*/

.contacts {
  position: relative;
  text-align: center;
  width: 900px;
  margin-left: 450px;
}

.text_link {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  padding: 4px 16px;
  font-family: Monaco, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: rgb(223, 247, 115);
  background-color: #151b20;
  border-radius: 3px;
  text-decoration: none;
  transition: color .3s linear;
}

.text_link::after {
  content: '';
  display: block;
  position: absolute;
  top: -0.125em;
  left: -0.125em;
  z-index: -1;
  width: 110px;
  height: 42px;
  border-radius: 0.25em;
  background-size: 200%;
  background-image: linear-gradient(90deg, rgba(153,251,1,1) 10%, rgba(0,255,158,1) 19%, rgba(241,255,0,1) 28%, rgba(0,255,239,1) 37%, rgba(0,194,255,1) 46%, rgba(145,0,255,1) 56%, rgba(255,0,202,1) 64%, rgba(255,0,146,1) 72%, rgba(192,0,255,1) 78%, rgba(255,0,65,1) 85%, rgba(255,0,129,1) 93%);
  animation: animatebg 5s ease infinite paused;
}

.text_link:hover {
  color: white;
}

.text_link:hover::after {
  animation-play-state: running;
}


@keyframes animatebg {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

.contacts_text_preview {
  font-family: Monaco, sans-serif;
  font-size: 18px;
  color: rgb(223, 247, 115);
}

.contacts_text {
  font-family: Monaco, sans-serif;
  font-size: 18px;
  color: white;
}

/*Footer*/

.footer_inner {
  position: relative;
  display: flex;
  margin-top: 45px;
  margin-bottom: 15px;
  padding: 0;
}

.text_footer {
  margin-right: 700px;
  font-family: Monaco, sans-serif;
  font-size: 16px;
  color: rgb(253, 252, 176);
}

.link_footer {
  margin-right: 800px;
  font-family: Monaco, sans-serif;
  font-size: 20px;
  color: rgb(195, 255, 85);
  text-decoration: none;
  transition: color .2s linear;
}

.link_footer:hover {
  color: white;
}

.link_footer:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity .2s linear;
}

.link_footer:hover:after {
  opacity: 1;
}

.img_link {
  position: relative;
  margin-bottom: 15px;
  padding: 2.5px 13px;
  background-color: #29353f;
  border-radius: 3px;
}

.img_link::after {
  content: '';
  display: block;
  position: absolute;
  top: -0.125em;
  left: -0.125em;
  z-index: -1;
  width: 110px;
  height: 42px;
  border-radius: 0.25em;
  background-size: 200%;
  background-image: linear-gradient(90deg, rgba(153,251,1,1) 10%, rgba(0,255,158,1) 19%, rgba(241,255,0,1) 28%, rgba(0,255,239,1) 37%, rgba(0,194,255,1) 46%, rgba(145,0,255,1) 56%, rgba(255,0,202,1) 64%, rgba(255,0,146,1) 72%, rgba(192,0,255,1) 78%, rgba(255,0,65,1) 85%, rgba(255,0,129,1) 93%);
  animation: animatebg 5s ease infinite paused;
}

.img_link:hover::after {
  animation-play-state: running;
}
